h1
 {
    color: #0065fc;
}
p
{
    color: #0065fc;
}
body
{
    background-color:#F2F2F2;
    font-family: Raleway;
}
nav ul
{
    right: 200px;
    list-style-type:none;
}

a
{
    border-collapse: unset;
    border-radius: 5px;
    border: solid black 3px;
}
.main
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main a
{
    width: 30%;
}